@import 'fonts.scss';

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* End scrollbar*/


html {
    overflow-y: auto !important
}


.vMain {
    height: 100vh;
    display: flex;
    background: rgb(var(--v-theme-surface-0));
}


.mainContainer {
    margin: 0.4rem 0.4rem 0.4rem 0 !important;
    border-radius: 1rem;
    background: rgb(var(--v-theme-surface-0));
}



.pageTitle {
    font-size: 2.5rem;
}



/*     ===LEFT MENU ===  */
.expandedMenu {
    background-color: rgb(var(--v-theme-surface-2)) !important;
}

.menuContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.selectedMenuVoice {
    background-color: rgb(var(--v-theme-primary)) !important;
    color: rgb(var(--v-theme-OnPrimary)) !important; //rgb(var(--v-theme-onSecondary)) !important;
}


.closedMenu {
    background-color: transparent !important;

    .menuContent {
        margin: 1.3rem 1.2rem 1.3rem .8rem;
        height: calc(100% - 2.6rem);
        background-color: rgb(var(--v-theme-surface-2)) !important;
        color: white;
        box-sizing: border-box;
        border-radius: .8rem;
    }

    .v-list-item {
        display: flex;
        justify-content: center;
    }

    .v-list-item__prepend {
        display: block !important;
    }

    .v-list-item__spacer {
        width: 0px;
    }
}



/*     === TABLE ===  */
.dataTable {
    //background-color: rgb(var(--v-theme-background)) !important;
    border: solid 2px rgb(var(--v-theme-surface));
    //background-color: transparent !important;

    thead {
        // background-color: rgb(var(--v-theme-surface)); /* Cambia il colore dell'header */
        //color: white; /* Colore del testo dell'header */
        th {
            //border-bottom: 1px solid white !important;

            //.v-data-table-header__content::before {
            //    content: ""; /* Necessario per visualizzare lo pseudo-elemento */
                //display: block; /* Per trattarlo come un elemento a blocco */
            //    width: 21px;
            //    height: 21px;
            //    background-color: rgba(0, 0, 0, 0); /* Colore nero trasparente (50%) */
            //    top: 0;
            //    left: 0;
            //}
        }
    }

    tbody tr td {
        border-top: 2px solid rgb(var(--v-theme-surface)) !important;
    }


    tbody tr:hover {
        background-color: rgb(var(--v-theme-primary));
        // color: rgb(var(--v-theme-onPrimary-container));

        button {
            color: rgb(var(--v-theme-text));
        }
    }
    //.v-table__wrapper{
    //    padding-right:0.7rem;
    //}
}

.isSortable {
    //background-color: orange;

    .v-data-table-header__content::before {
        content: ""; /* Necessario per visualizzare lo pseudo-elemento */
        width: 21px;
        height: 21px;
        background-color: rgba(0, 0, 0, 0); /* Colore nero trasparente (50%) rgba(0, 0, 0, 0);*/
        top: 0;
        left: 0;
    }
}

